
<span style="text-align: left">


  <%= form_tag "/conversations/find" do |f| %>
    
	<p class="howto"><b>Enter UserName1&2 You Want to </br> Listen to a Conversation.</p>
		<p class="description"><b>*This application is for Twitter users.</p>
	<br/>
	
    <p class="username">UserName1
    <%= text_field_tag :search_string1, nil, :class=>"input" %>
	</p>
		
    <p class="username">UserName2
	<%= text_field_tag :search_string2, nil, :class=>"input" %>
	</p>

    <br />
    <br />

	<p align="center">
	<%= submit_tag "Search"%>
	</p>

  <% end %>

</span>


</b>
</p>


