  <% flash[:notice] = '' %>
  <% #if you can't find any conversations, this message is shown. %>
  <% if @conversations.length == 0 then %>
    <% flash[:notice] = 'We couldn\'t find any conversation...Sorry!' %>
  <% else %>

  <%# button_to 'Back',  :action => :new %>
  <%= link_to_function t("Back"), "history.back()" %>
  <ol>
    <% @conversations.each_with_index do |conversation, i| %>
	  <li class="time"><b><%=h conversation[0] %></b>
	  <br />
	  <p class="twitter"><b><%=h conversation[1] %></b></p>
 <p>------------------------------------------------------------------------------------------------------------------------------------------------------</p>
      </li>
    <% end %> 
  </ol>
  <% end %> 
  <br />
  <%# button_to 'Back',  :action => :new %>
  <%= link_to_function t("Back"), "history.back()" %>
  <br />
